@media (min-width: 501px) and (max-width: 1330px) {
  header {
    background-image: url("assets/Frame 427318701 (7).jpg");
  }

  .boldertext {
    font-size: 1.4rem;
  }
  section {
    padding: 2rem 2.5rem;
  }

  .footerlists {
    text-align: center;
    flex-wrap: wrap;
    flex-basis: 60vw;
    gap: 1.3rem !important;
  }

  .strectcher {
    padding: 0 0;
  }
  .hidder {
    display: none;
  }
  footer h3 {
    font-size: 1.5rem;
  }
}
