@media (max-width: 500px) {
  .normaltext {
    font-size: 1.09rem;
  }
  li {
    font-size: 1.09rem;
  }
  .boldertext {
    font-size: 1.4rem;
  }

  header {
    background-image: url("assets/Frame 427318701 (7).jpg") !important ;
    height: 90vh;
  }
  section {
    padding: 2rem 1rem !important;
  }

  .strectcher {
    padding: 0 0rem;
  }

  .footerlists {
    text-align: center;
    flex-wrap: wrap;
    flex-basis: 60vw;
    gap: 1.3rem !important;
  }

  .footerlists li:hover {
    color: white;
  }
  .footerlists li:first-child {
    padding-right: 7rem;
  }
  .footerlists li:nth-child(2) {
    padding-left: 9rem;
  }

  .hidder {
    display: block !important;
  }
  .hider {
    display: none;
  }
  .diifer {
    flex-direction: column !important;
    display: flex !important;
    align-items: center;
    gap: 2rem !important;
    margin-top: 2rem;
  }
  .marginal {
    display: flex;
    justify-self: start;
    position: relative;
    bottom: 3rem;
    left: 2rem;
  }

  footer h3 {
    font-size: 1.8rem !important;
  }
}
