* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-size: 52.2%;
}
:root {
  --mainfont: 2.25rem;
  --smallerfont: 1.29rem;
}
header {
  background-image: url("assets/Frame 427318701 (9).png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 50vh;
}
h2 {
  font-size: var(--mainfont);
  font-family: "Righteous", sans-serif;
  font-weight: 400;
  padding-bottom: 2rem;
  font-style: normal;
}
p {
  font-size: var(--smallerfont);
  font-family: "Poppins", serif;
  font-weight: 400;
  font-style: normal;
}
section {
  padding: 2rem 7rem;
}
li {
  font-size: var(--smallerfont);
  font-family: "Poppins", serif;
  font-weight: 400;
  font-style: normal;

  margin-left: 3rem;
}
footer {
    background-image: url("assets/Footer.jpg");
  padding: 4rem 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  color: white;
}
.overlay {
  color: grey !important;
}
footer .row {
  justify-content: space-between;
}

footer h3 {
  font-size: 1.6rem;
  margin-bottom: 1rem;
}
footer ul {
  list-style: none;
  padding: 0;
}
.padd-down {
  margin: 4rem 0;
}
footer li {
  margin-bottom: 0.5rem;
}

footer a {
  color: grey;
  text-decoration: none;
}

.footerlist {
  display: flex;
  justify-content: center;
  padding: 2rem;
  font-size: 1.8rem;
}
.footerlists {
  display: flex;
  justify-content: center;
  padding: 2rem;
  font-size: 1.8rem;
}
.footer-links {
  display: flex;
  flex-direction: column;

  align-items: center;
  gap: 2rem;
}
.footer-links h3 {
  font-size: 2.2rem;
}

.footer-linker {
  display: flex;
  flex-direction: column;
  gap: 0 !important;
  align-items: center;
}
.social-icons {
  display: flex;
  gap: 1.5rem;
}
.col-md-4 p {
  font-size: 0.9rem;
  font-weight: 400;
  color: #444444;
}
.footer-linker h3 {
  font-size: 1.8rem;
  margin-top: 1rem;
}
footer li :hover {
  color: white;
}
.social-icons img:hover {
  color: white;
}

/* forfootericons hovereffect */
.image-container .overlayingimages {
  position: relative;
}
.image-container {
  display: flex !important;
  gap: 1.3rem;
}
.firstborn {
  display: inline-block;
}
.image-container .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 1);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.image-container .overlayingimages:hover .overlay {
  opacity: 0.3;
}
